nav img{
    width: 120px;
}
}
.navbar{
    background-color: rgb(54, 54, 54);
}
.btn{
    border: 0em;
}
#fondo{
    filter:brightness(40%);
    width: 100%;
    max-height: 750px;}

.card{
    margin: 5%;
}

h2{
    font-family: 'Catamaran', sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

h3{
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

#exampleFormControlTextarea1{
    font-size: 1.5em;
    font-weight: 4 00;
    color: rgb(109, 109, 109) ;
}

#conferencia{
    position: absolute;
    display: flex;
    margin-left: 34%;
    margin-top: 15%;
}