@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=GFS+Didot&family=Hind+Guntur&family=Jura:wght@500&family=Mohave:ital,wght@1,700&family=Poppins:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

body{
background-color: white;
}

p{
    margin-top: 15px;
}

hr{
    background-color: orange;
    height: 15px;
    margin-top: -5px;
    margin-bottom: -2px;
}

#header{
    margin: 0px;
    width: 500px;
    position: fixed;
    z-index: 2;
    text-align: right;

}

ul, ol{
    list-style: none;
}

.nav li a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: rgb(100, 100, 95);
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.imagen{
    z-index:1;
    position: relative;
    margin: 0px;
}
.texto{
    z-index: 1;
    position: relative;
    margin: 20px 30px 0px 30px;
    text-align: justify;
}